* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

/* front page (index.html) */
.nav-index-links {
  margin: 1px;
  padding: 1px;
  color: white;
  box-sizing: border-box;
  font-size: medium;
  list-style-type: none;
  display: contents;
  justify-content: space-around;
  font-style: bold;
  width: 50%;
}

nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  min-height: 4vh;
  color: rgb(255, 255, 255);
  text-transform: lowercase;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.logo {
  color: rgba(255, 255, 255, 0.774);
  text-transform: lowercase;
  text-indent: 1ex;
  letter-spacing: 5px;
}

.nav-links {
  display: contents;
  color: rgb(211, 219, 230);
  text-decoration: underline;

  margin: 1em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  justify-content: space-around;
  font-style: bold;
  width: 50%;
}
.nav-img {
  display: block;
  text-align: center;
  
  
  width: 80px;
  height: 80px;
  margin: auto;
  
}

.burger div {
  width: 25 px;
  height: 15 px;
}

.gallery-grid-click {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
    margin: 60px auto;
    max-width: 800px;
    
}

.gallery-grid{
  
  grid-column: span 1;
  grid-row: span 1;
  background-color: #e5e5e5;
  display: block;
  min-height: 200px;
  width: 100%;
}



.cart-row {
  margin: auto;
  padding: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 39);
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  word-spacing: 500px;
}

.cart-items {
  margin: auto;
  padding: auto;
  color: rgb(2, 2, 39);
  background-color:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  word-spacing: normal;
}

.cart-column {
  margin: auto;
  padding: auto;
  font-family: "Poppins", sans-serif;
  font-size: large;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  word-spacing: normal;
}

.btn-purchase {
  padding: 0%;
  font-size: medium;
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 39);
  font-family: "Poppins", sans-serif;
}

.cart-header {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color:rgb(2, 2, 39);
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
}

.shop-item-image {
  width: fit-content;
  height: fit-content;
}

.shop-item-button {
  color:rgb(2, 2, 39);
  background-color:rgb(211, 219, 230);
}
.item-image {
  width: 150px;
  padding: 2px;
}

.a1 {
  color: rgb(2, 2, 39);
  background-color: rgb(211, 219, 230);
}

.shop-item-info {
  color: rgb(2, 2, 39);
  text-align: left;
  background-color: rgb(211, 219, 230);
}

.item-info {
  font-family: "Raleway", sans-serif;
  text-align: left;
}

.v-header {
  color: rgb(2, 2, 39);
  font-family: "Poppins", sans-serif;
}

.v-content {
  color:rgb(2, 2, 39);
}

.about-us{
  margin: auto;
  padding: auto;
  font-family: "Poppins", sans-serif;
  font-size: large;
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 39);
  justify-content: space-around;
  word-spacing: normal;
}

.sus-text{
  margin: auto;
  text-decoration: solid;
  font-weight: bolder;
  background-color:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size:xx-large;
  color: rgb(2, 2, 39);
  text-align: center;
  word-spacing: normal;
  text-indent: 1em; 

}

.gallery-caption{
  margin: auto;
  text-decoration: solid;
  font-family: "Poppins", sans-serif;
  color: rgb(2, 2, 39);
  word-spacing: normal;
  
}

.sus-content{
  margin: auto;
  background-color:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size:medium;
  color: rgb(2, 2, 39);
  text-align: center;
  word-spacing: normal;
  text-indent: 1em; 

}

.about-us{
  margin: auto;
  margin-top: 1em;
  margin-bottom:1em;
  margin-left: 1em;
  margin-right: 1em;
  background-color:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size:medium;
  color: rgb(2, 2, 39);
  text-align: center;
  word-spacing: normal;
  text-indent: 1em; 
}

.contact{
  margin: auto;
  background-color:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size:medium;
  color: rgb(2, 2, 39);
  text-align: center;
  word-spacing: normal;
  text-indent: 1em; 
}


